
html{
  font-family: 'Open sans', sans-serif;
  min-height: 500px;
  max-height: 800px;
  margin: auto;
  min-width: 700px;
  max-width: 1700px;
  background-image: url("images/wallpaper1.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}

.flex-main {
 height : 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}

.main-title {
    color: #8fa0df;
    font-size: 100px;
    margin-top: 10%;
    margin-right: 3%;
}

pre {
 margin: 0;
 text-decoration : none;

}



.nav-bar{
 
 margin-top: 30%;
 display : flex;
 flex-direction: row;
 color:#e534eb;
 justify-content: space-evenly;
 align-items: center;
 font-weight: lighter;
 font-size: 50px; 
  


}


 a:link{
    text-decoration: none;
    color:#e534eb;
}
a:hover{
    color:#af18b4;
}
a:visited{
    color:#660469;
}

.separator {

margin: 0.5rem;

}